<div class="attachment-message">
    <div background-image url="{{message.top_element.image_url}}" class="list-item">
        <h3>{{message.top_element.title}}</h3>
        <h4>{{message.top_element.subtitle}}</h4>
        <h4>item.com</h4>
    </div>
    <div ng-repeat="element in message.elements" class="list-item">
        <div class="info">
            <h3>{{element.title}}</h3>
            <h4>{{element.subtitle}}</h4>
            <h4>item.com</h4>
        </div>
        <img ng-src="{{element.image_url | url}}"/>
        <div class="buttons">
            <span ng-repeat="button in element.buttons" class="button" ng-click="doPostback(button)">
                {{button.title}}
            </span>
        </div>
    </div>
</div>