body {
    cursor: default;
    font-size: 12pt;
    background-color:#dedede;
    zoom:0.70
}

.smartphone {
    width: 520px;
    height: 910px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url(images/white-smartphone.png);
    margin-top: 5px;
}

.chat-window{
    margin: 90px 25px 0 22px;
}

.chat-window .messages {
    height: 673px;
    overflow-x: auto;
}


.chat-window .footer {
    border-top: 1px solid #f1f0f0;
    padding: 10px 0;
}

.chat-window .btn-link {
    font-size: 1.5em;
}
.dropdown-toggle {
    font-size: 1.5em;
    padding: 0 10px;
    margin-top: -5px;
}
.chat-window .footer input {
    border: 1px solid #DDDDDD;
    width: 75%;
    padding: 5px 10px;
    border-radius: 0.5em;
    line-height: 1.5em;
    box-shadow: inset 2px 2px 5px dimgrey;
}

.footer .btn-primary{
    line-height: 1.5em;
}

.controls button {
    background: #000000;
    opacity: 0.1;
    padding: 5px 20px;
    border: 1px solid silver;
}

.controls button:hover {
    background: #0084ff;
}
.controls {
    line-height: 35px;
    padding: 15px 0;
}

.controls .settings-button {
    margin-right: 70px;
}

.controls .send-button {
    margin-right: 145px
}
.footer .dropup {
    display: inline-block;
}
.bubble {
    background-color: #f1f0f0;
    border: 1px solid #f1f0f0;
    color: rgba(0, 0, 0, 1);
    margin: 1px 0;
    padding: 6px 12px;
    box-sizing: border-box;
    clear: left;
    word-wrap: break-word;
    display: inline-block;
    border-radius: 1em;
}

.bubble.with-buttons {
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
}

.attachment-message {
    border-radius: 20px;
}

.echo-message {
    text-align: right;
}

.echo-message .bubble {
    background: #0084ff;
    color: white;
}
.bubble.button-template {
    width: 100%;
    margin: 0;
}

.image-echo-message {
    text-align: right;
}

.buttons {
    text-align: center;
}

.chat-message {
    margin-top: 10px;
    margin-bottom: 10px;
}

.button-template-message,
.text-message,
.quick-replies-message {
    width: 100%;
}

.compact-list-message {
    width: 80%;
}

.generic-template-message {
    overflow-x: auto;
    white-space: nowrap;
}

.generic-element>div {
    border: 1px solid silver;
    padding: 5px;
    border-bottom: none;
}

.image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 180px;
}

.generic-element > div.buttons:last-child {
    padding: 0;
    border: none;
}

.generic-element > div:first-child {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.postback-button {
    background: #FDFDFD;
    display: block;
    color: #0084ff;
    padding:5px 10px;
    cursor: pointer;
    width: 100%;
    border: 1px solid #EFEFEF;
}

.postback-button:hover {
    background: #EFEFEF;
}

.postback-button:last-child {
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.generic-element .postback-button {
    border-top: none;
}

.generic-element .postback-button:first-child {
    border-top: 1px solid #AFAFAF;
}


.quick-reply-button {
    background: #fff;
    border-radius: 1em;
    color: #0084ff;
    display: inline-block;
    border: 1px solid #0084ff;
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
._o46 {
    position: relative;
    white-space: pre-wrap;
}

.direction_ltr {
    direction: ltr;
}

.text_align_ltr {
    text-align: left;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

h3 {
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 0;
    font-weight: bold;
    white-space: normal;
}

h4 {
    font-size: 14px;
    color: rgba(0, 0, 0, .40);
    margin-top: 2px;
    margin-bottom: 0;
    white-space: normal;
}

.generic-element {
    margin: 10px;
    float: left;
    width: 180px;
    zoom: .8;
}
.generic-element .info {
    padding: 5px;
    white-space: normal;
}

.list-item {
    padding: 10px;
    border: 1px solid silver;
    border-bottom: none;
    min-height: 140px;
}

.list-item:first-child {
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
}

.list-item:last-child {
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom: 1px solid silver;
}

.list-item .buttons {
    float: left;
    margin-top: 20px;
}

.list-item .buttons .button{
    background: #FDFDFD;
    color: #0084ff;
    padding: 5px 10px;
    cursor: pointer;
    width: 100%;
    border: 1px solid #AFAFAF;
    border-radius: 0.3em;
}

.list-item .info {
    float: left;
    width: 70%;
    white-space: normal;
}

.list-item img {
    float: right;
    height: 100px;
}

.quick-replies {
    text-align: center;
    padding-bottom: 10px;
    white-space: nowrap;
}

.quick-replies .button {
    background: #FDFDFD;
    color: #0084ff;
    padding: 5px 10px;
    cursor: pointer;
    display: inline;
    border: 1px solid #AFAFAF;
    border-radius: 1em;
    margin: 5px;
}

img.attachment {
    max-height: 120px;
    border-radius: 1em;
}

[background-image] * {
    color:#FDFDFD
}

.toggle-button {
    margin-top: -5px;
    margin-right: 10px;
}