<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Facebook Chat Emulator</title>
    <link rel="shortcut icon" type="image/ico" href="favicon.ico?v=3" />
</head>

<body>
    <div class="smartphone container" ng-app="chatty">
        <section ng-controller="chatController" class="chat-window">
            <div id="messageWindow" class="messages">
                <div ng-repeat="message in messages track by $index" class="chat-message" chat-message>

                </div>
                <div class="quick-replies">
                    <span ng-repeat="button in quick_replies" class="button" ng-click="doPostback(button)">
                        {{button.title || "Share Location"}}
                    </span>
                </div>
                <div class="bubble sender-action typing_on" ng-if="sender_action=='typing_on'"></div>
            </div>
            <div class="footer">
                <div class="dropup">
                    <button class="btn btn-default dropdown-toggle pull-left" type="button" data-toggle="dropdown">☰</button>
                    <dropdown-menu menu="persistentMenu.call_to_actions" item-select="doPostback" />
                </div>
                <input type="text" ng-model="textToSend" handle-enter="sendMessage(textToSend)" />
                <span class="btn btn-primary pull-right" ng-click="sendMessage(textToSend)">Send</span>
                <br />
                <div class="controls dropup">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">☰</button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" ng-click="switchUser(1)">Switch User To: John Doe</a>
                        </li>
                        <li>
                            <a href="#" ng-click="switchUser(2)">Switch User To: Jane Roe</a>
                        </li>
                        <li class="image-strip">
                            <img ng-repeat="image in images"
                                 ng-click="sendImage($index)"
                                 ng-src="{{image}}"
                                 alt="{{image}}"
                                 class="thumbnail xs">
                        </li>
                        <li>
                            <a href="#" ng-click="sendRandomImage()">Send Random Image</a>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
    </section>
    </div>
</body>
</html>